* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: white;
}

body {
  background-color: #b71b1b;
}

.App {
  display: grid;
  grid-template-columns: auto 540px auto;
  grid-template-rows: 100px auto;
  row-gap: 1.5rem;
  grid-template-areas:
    ". header ."
    ". screen .";
  margin-top: 1.5rem;
}

header {
  grid-area: header;
  display: grid;
}

.leds-container {
  display: none;
  grid-auto-flow: column;
  justify-self: start;
}

.led {
  width: 40px;
  height: 40px;
  border: 3px solid white;
  border-radius: 50%;
  margin-left: 0.5rem;
}

.led:first-of-type {
  border-width: 5px;
  width: 80px;
  height: 80px;
}

.logo {
  justify-self: center;
}

$colors: blue, red, yellow, green;

@each $color in $colors {
  .led.led-#{$color} {
    background-image: linear-gradient(135deg, white 5px, $color);
  }
}

.logo img {
  max-width: 200px;
}

// SCREEN

#screen {
  grid-area: screen;
  background-color: #343a40;
  height: 100vh;
  max-height: calc(800px);
  border-radius: 20px;
  border: 20px solid #dedede;
  border-top-width: 40px;
  border-bottom-width: 40px;
  background-image: linear-gradient(135deg, #343a40, white 3000px);
  overflow: auto;
}

#pokedex {
  display: grid;
  grid-template-columns: 50% 50%;
  justify-content: center;
}

.poke-card {
  border-radius: 10px;
  padding: 1rem 0.5rem;
  margin: 1rem 0.5rem;
  text-align: center;
}

.poke-card figure {
  background-color: rgba(255, 255, 2525, 0.6);
  border-radius: 50%;
  width: 120px;
  height: 120px;
  display: grid;
  margin: auto;
  align-items: center;
  justify-content: center;
}

$types: (
  "bug": #f8d5a3,
  "electric": #fcf7de,
  "dark": #044286,
  "dragon": #97b3e6,
  "fairy": #fce9ff,
  "fighting": #e6e0d4,
  "fire": #fddfdf,
  "flying": #f5f5f5,
  "ghost": #663388,
  "grass": #defde0,
  "ground": #f4e7da,
  "ice": #def3fd,
  "normal": #f5f5f5,
  "poison": #98d7a5,
  "psychic": #eaeda1,
  "rock": #d5d5d4,
  "steel": gray,
  "water": #def3fd,
);

@each $type, $color in $types {
  .#{$type} {
    background-color: $color;
  }
}

// LOADER

#loader {
  display: grid;
  justify-items: center;
  margin: 1rem 0;
  width: 100%;
}

#loader img {
  width: 100px;
  animation: spin 4s infinite linear;
}

// MEDIA QUERIES

@media screen and (min-width: 768px) {
  .App {
    grid-template-columns: auto 720px;
  }

  #pokedex {
    grid-template-columns: repeat(3, 33%);
  }
}

@media screen and (min-width: 992px) {
  .App {
    grid-template-columns: auto 960px;
  }

  header {
    grid-template-columns: 50% 50%;
  }

  .leds-container {
    display: grid;
  }

  .logo {
    justify-self: end;
  }

  #pokedex {
    grid-template-columns: repeat(5, 20%);
  }
}

@media screen and (min-width: 1200px) {
  .App {
    grid-template-columns: auto 1140px;
  }
}

@media screen and (min-width: 1400px) {
  .App {
    grid-template-columns: auto 1320px;
  }

  #pokedex {
    grid-template-columns: repeat(5, 20%);
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
